@font-face
{ 
	font-family: 'MyWebFont';
	src: url('WebFont.eot');
	src: url('WebFont.eot?iefix') format('eot'),
	     url('WebFont.woff') format('woff'),
	     url('WebFont.ttf') format('truetype'),
	     url('WebFont.svg#webfont') format('svg');
}


/* partie gauche */

body
{
	width: 70%;
    margin: auto;
}

main
{
	display: flex;
}
.gauche
{
	width: 30%;
	height: 100%;
	background-color: #546E7A;
	font-family: WebFont, sans-serif, Arial;

}

.gauche h2
{
	background-color: #4DD0E1;
	text-align: center;
	color: #455A64;
}

.gauche p
{
	margin: 50px 50px 50px 50px;
	text-align: justify;
	color: #4DD0E1;

}

#contact p
{
	margin: 20px 50px 20px 50px;
}



#image
{
	border: 4px solid #4DD0E1;
	border-radius: 50%;
	overflow: hidden;
	background-color: black;
}

.fas
{
	color: #4DD0E1;
	padding-left: 20px;

}


#loisir
{
	display: flex;
	flex-direction: column;

}
#icon
{
	margin: auto;
	margin-bottom: 20px;
}


/*partie droite*/

.droite
{
	margin-left: 60px;
	margin-top: 30px;
	font-family: WebFont, sans-serif, Arial;


}

.droite .fas
{
	font-size: 30px;
	margin-right: 20px;
	margin-bottom: 10px;
	padding-left: 0px;
}

.hdroite h1
{
	font-size: 55px;
	font-family: Merriweather, Arial, sans-serif;
}

.h2border
{
	border-bottom: 1.5px solid #4DD0E1;
}

.hdroite h2
{
	font-size: 30px;
	margin-top: -25px;
	margin-bottom: 100px;
}

h1 .h1color
{
	color: #4DD0E1;
}

.formation
{
	display: flex;

}


#form
{
	margin-top: 50px;
}


.format
{
	margin-left: 100px;
	text-align: justify; 
}

.prof
{
	margin-left: 80px;
	text-align: justify;
}

.formation p, .pro p
{
	display: flex;

}

.far
{
	color: #4DD0E1;
	margin-right: 10px;
	font-size: 20px;
}

.droite .borderh2 h2
{
	border-bottom: 1.5px solid #4DD0E1;
}

#exp .pro
{
	display: flex;
}

.recom0
{
	display: flex;
}

.recom2
{
	margin-left: 80px;
}















